/* 
    Document   : ie.css
    Created on : 2011-sep-30, 08:13:34
    Author     : Dhavyd
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


body.sidebar-first #main-page  {
  width: 550px;
}

body.sidebar-second #main-page {
  width: 650px;
}

body.sidebar-both #main-page {
  width: 430px;
}

body.sidebar-first #navigation {
  width: 620px;
}
body.sidebar-second #navigation {
  width: 720px;
}
body.sidebar-both #navigation {
  width: 500px;
}
body.sidebar-first #breadcrumb {
  width: 600px;
}
body.sidebar-second #breadcrumb {
  width: 700px;
}
body.sidebar-both #breadcrumb {
  width: 480px;
}
body.sidebar-first #content .block .node {
  width: 570px;
}
body.sidebar-second #content .block .node {
  width: 670px;
}
body.sidebar-both #content .block .node {
  width: 450px;
}
body.sidebar-first #main-page .messages {
  width: 565px;
}
body.sidebar-second #main-page .messages {
  width: 665px;
}
body.sidebar-both #main-page .messages {
  width: 445px;
}

body.sidebar-first .tabs ul.primary {
  width: 515px;
}
body.sidebar-second .tabs ul.primary {
  width: 615px;
}
body.sidebar-both .tabs ul.primary {
  width: 495px;
}

.tabs ul.primary {
  height: 20px;
}
#main-page .messages {
  width: 100%;
}
.feed-icon {
  display: none;
}
#header {
  margin: 0;
}
#breadcrumb {
  padding-top: 5px;
}
#content .block .node .tab-left {
  margin-left: -34px;
}
#content .node #right-area {
  position: relative;
  margin-left: 35px;
  height: 100px;
}
#content .node .links {
  margin-right: -25px;
}




