/* 
    Document   : ie.css
    Created on : 2011-sep-30, 08:13:34
    Author     : Dhavyd
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#page-wrapper {
  width: 970px;
}
body.sidebar-both #page-wrapper {
  width: 1070px;
}
.tabs ul.primary {
  height: 16px;
}
.tabs ul.primary li {
  position: relative;
}
#content .block .node .tab-left, #content .node .submitted {
  top: 5px;
}
#content .block .node .tab-left {
  margin-left: -34px;
  margin-top: -15px;
}
#content .node .submitted {
  margin-top: 7px;
}