/* 
    Document   : style
    Created on : 2011-sep-17, 23:07:32
    Author     : Dhavyd Vanderlei
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}

body {
  background: #666;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 2px 0 5px 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

#header-region ul {
  margin: 10px 0 10px 0;
  padding: 0;
}

#header-region ul li {
  list-style: none;  
  float: left;
}

#header-region a {
  color: #EEE;
}

#header-region a:hover {
  color: #fff;
}

#page-wrapper {
  width: 960px;
  margin: 10px auto 10px auto;
}

body.sidebar-both #page-wrapper {
  width: 1060px;
  padding: 0;
}

#main-page,
#sidebar-first .glow-black,
#sidebar-second .glow-black {
  -moz-box-shadow: 0 0 8px #000;
  -webkit-box-shadow: 0 0 8px #000;
  box-shadow: 0 0 8px #000;
}

#main-page {
  background: #fff;
  float: left;
  width: 100%;
  padding: 0;
}

body.sidebar-first #main-page  {
  width: 610px;
}

body.sidebar-second #main-page {
  width: 710px;
}

body.sidebar-both #main-page {
  width: 480px;
}

.tab-left {
  display: none;
}

#page-title {
  margin: 20px 15px 20px 15px;
}

#content {
  position: relative;
}

#content .block .node .tab-left {
  display: block;
  position: absolute;
  margin-top: -10px;
  margin-left: -34px;
}

#content .node, #content .node #comments .title {
  border-top: 1px solid #eee;
}

#content .node #comments {
  padding: 0;
  margin: 0;
}

#content .node #comments .title,
#content .node #comments .comment h3,
#content .node #comments .comment .submitted-comment,
#content .node #comments .comment .content,
#content .node #comments .comment-form {
  margin: 0;
  padding: 0 -10px 0 -10px;
}

#content .node #comments .title, #content .node #comments .comment h3 {
  line-height: 40px;
}

#content .node #comments .comment .submitted-comment {
  margin-bottom: 10px;
}

#content .block .node {
  position: relative;
  padding: 0;
}

#content .node h2, #content .node .submitted, #content .node .content p {
  margin: 2px 0 5px 0;
  clear: both;
}

#content .node .submitted, #content .node #right-area {
  float: left;
}

#content .node #right-area h2 {
  margin: 0 0 15px 0;
}

#content .node .submitted {
  position: absolute;
  margin: 14px 14px 14px 0;
  width: 50px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #666;
}

#content .node .submitted .submitted-month {
  text-transform: uppercase;
  line-height: 30px;
  background: #666;
  color: #fff;
  font-size: 15px;
}
#content .node .submitted .submitted-day {
  line-height: 40px;
  font-size: 22px;
}
#content .node .submitted .submitted-year {
  font-size: 10px;
  padding-bottom: 2px;
}

#content .node #right-area {
  position: relative;
  margin-left: 65px;
  margin-top: 10px;
  min-height: 100px;
  padding-right: 15px;
}

#content .node .links {
  position: relative;
  float: right;
  padding: 0;
  margin: 15px 10px 15px 10px;
}

#content .node .links li {
  padding: 5px;
}

#content .node .comment .submitted-comment {
  margin: 10px 0 10px 0;
}

#sidebar-first, #sidebar-second {
  float: left;
  margin: 0 0 0 30px;
  width: 300px;
}

#sidebar-second {
  width: 200px;
}

#sidebar-first .block, #sidebar-second .block {
  padding: 5px;
  width: 290px;
  background: #fff;
  margin-bottom: 30px;
}

#sidebar-second .block {
  width: 190px;
}

#logo-area {
  position: relative;
  margin: 10px;
}

#logo-area, #logo-area #logo, #logo-area #name-and-slogan {
  min-height: 60px;
}

#logo-area #logo, #logo-area #name-and-slogan {
  float: left;
}

#logo-area #logo {
  margin-right: 10px;
}

#logo-area #name-and-slogan a {
  color: #444444;
}

#logo-area #name-and-slogan #site-name, #logo-area #name-and-slogan #site-name strong {
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 60px;
}

#navigation, #main-menu {
  margin: 0;
  padding: 0;
}

#navigation, .tabs ul.primary {
  border-bottom: 1px solid #eee;
}

#main-menu {
  padding: 0 0 0 2px;
  line-height: 50px;
  font-size: 14px;
  font-weight: bold;
}

#main-menu li {
  margin: 0 -2px 0;
  padding: 0;
}

#main-menu a {
  padding: 17px 15px 17px 15px;
}

a, #main-menu a, #secondary-menu a, #breadcrumb a, #content a {
  color: #666;
}

#main-menu a.active, .tabs ul.primary li a.active {
  background: #eee;
}

#main-menu a:hover, .tabs ul.primary li a:hover {
  background: #f6f6f6;
}

#main-menu a:hover, #secondary-menu a:hover, #breadcrumb a:hover, #content a:hover, #main-menu a.active, #secondary-menu a.active {
  color: #333;
}

#secondary-menu {
  float: right;
  line-height: 20px;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#secondary-menu li {
  float: left;
}

#breadcrumb {
  font-size: 12px;
  margin: 0 ;
  height: 30px;
  padding: 0 15px 0 14px;
  background:  #fff url('../img/breadcrumb.png') repeat-x left center;
}

#breadcrumb a {
  line-height: 30px;
  padding: 5px 20px 5px 5px;
  margin: 0;
  background: url('../img/breadcrumb-arrow.png') no-repeat right center;
}

.feed-icon {
  position: absolute;
  top: 15px;
  right: 0;
}

#main-wrapper .tabs {
  padding-top: 10px;
  margin: 0;
}
.tabs ul.primary {
  height: 20px;
}

.tabs ul.primary li a {
  border: 0;
  padding: 5px 10px 5px 10px;
  margin: 0;
  background: none;
}

#content .region {
  padding: 0  15px;
}

.region #block-system-main .content .node .content {
  padding: 0;
}

#content input.form-text {
  width: 300px;
}

#footer {
  padding: 15px;
}


